*{
    margin: 0;padding: 0;
}
body{
    background-color: darkgray ;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 18px;
    color: black;
}
h1{
    color: rgb(217, 46, 49);
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}
img{
    height: 450px;
    width: 450px;
    margin-left: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px black;
}
h2{
    color: aquamarine;
}
strong{
     color: red;
}

b{
    font-size: 20px;
    color:black;
}

.first{
    text-align: justify;
    font-style: italic;

}